/*Styling Rules
 >> The left and right arrows can be styled using #leftControl and #rightControl respectively
 >> The hover and focus styling for the buttons is on the .control class

 >> Thumbnails as a group use the ul.thumbs selector or ul.thumbs>li for each thumbnail
 >> Carousel slides can be accessed via ul.slides

 >> If an additional class is not added to ul.slides, the default action is to slide between slides (currently needing improvement)
 >> An example of custom transition effects can be found at the bottom of the style sheet

*/


body {
	color: #2c241b;
	line-height: 1.67em;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 0;
	margin: 0;
}

html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

h1 {
text-align : center;
font-weight : normal;
}

ul.slides {
	list-style: none;
	margin:0;
	padding:0;
	height:100%;
}

ul.slides>li {
	position : absolute;
	left: 100%;
	width:100%;
	transition: 0.4s ease-in-out left;
	-webkit-transition: 0.4s ease-in-out left;

}

ul.slides>li.active {
	display:block;
	position:relative;
	width:100%;
	left:0;
	height:100%;
}

ul.slides>li.next {
	position:absolute;
	left:100%;
	top:0;
}

ul.slides>li.prev {
	position:absolute;
	left:-100%;
	top:0;

}

ul.slides>li>img {
	max-height: 100%;
	max-width: 100%;
}

ul.thumbs {
	padding:0;
	margin:0;
	list-style: none;
	display: inline-block;
}

ul.thumbs>li {
	cursor:pointer;
	width:50px;
	height:auto;
	display: inline-block;
	line-height : 0;
	border: 3px solid #fff;
}

ul.thumbs>li:hover, ul.thumbs>li:focus, ul.thumbs>li.active, ol.carousel-bullets>li.active {
	box-shadow:0px 0px 0px 2px #75838B inset;
}

ol.carousel-bullets>li.active {
	background: #75838B;
}

li>img {
	max-width : 100%;
}


/*********************************************************

					ID's

**********************************************************/


#slidesContainer {
	/*float : left;*/ /* causes problems */
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}


#controls {
	position: absolute;
	z-index: 1000; /* excessive? */
	bottom: 50%;
}

#carousel-bullet-holder {
	text-align: center;
	display: inline-block;
}


/*********************************************************

					CLASSES

**********************************************************/



.animation-control-button {
	cursor: pointer;
	max-width: 10%;
}

.button-play, .button-pause {
	float: left;
}

.carousel-bullets {
	margin: 10px auto;
	overflow: hidden;
	position: relative;
	float: none;
	text-align: center;
	display: block;
	padding: 0;
}

.carousel-bullets li {
	cursor: pointer;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: #cccccc;
	float: none;
	margin-right: 5px;
	border-radius: 50px;

}
.control {
	cursor: pointer;
		z-index : 100;
		max-width : 5%;
}

.control:hover, .control:focus {
	box-shadow:0px 0px 0px 2px #444 inset;
}

.disabled {
	cursor: default;
	opacity:0.5;
	pointer-events:none;
}



#rightControl {
	top: 110px;
	right: 0;
}

#leftControl {
	top: 160px;
	right: 0;
}


#slideshow {
	margin: 0 auto;
	width: 55%;
	position: relative;
	text-align:center;
}

.slideshow-controls {
	display: inline-block;
}

.slide-annotation {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.thumb {
	width:100%;
	height : auto;
}

/*********************************************************

				SLIDE TRANSITION ANIMATIONS

**********************************************************/
ul.slides.animation-fade > li {
	position: absolute;
	left:0;
	top:0;
	opacity: 0;
	width:100%;
	height: auto;
	transition: 1.75s  opacity;
	-webkit-transition: 1.75s opacity;
} 

ul.slides.animation-fade >li.active {
	display: block;
	position: relative;
	opacity: 100;
}


